@import url("https://fonts.googleapis.com/css?family=Arvo");

body {
  font-family: "Arvo", serif;
}
.height {
  min-height: 100vh;
}

.height-80 {
  min-height: 80vh;
}

.title-underline {
  width: 120px;
  height: 5px;
  margin: 0 auto;
}

.about-picture {
  background: url("https://images.pexels.com/photos/1509428/pexels-photo-1509428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    center/cover no-repeat fixed;
  /* 
  -- parallax effect --
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
